<!doctype html>
<html lang="en">

<head>
    <title>Contact Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/personaldetail.html">HRM IPNet Desktop Client</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Personal Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactdetail.html">Contact Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/emergencycontact.html">Emergency Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dependent.html">Dependent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/job.html">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Contact Detail</h2>
            </div>
        </div>

    </div>
    <div class="container" id="app_contact_detail">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Address Street 1</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="address_street_1"
                        aria-describedby="helpId" placeholder="Address Street 1" v-model="form.address_street_1"
                        disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Address Street 2</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="address_street_2"
                        aria-describedby="helpId" placeholder="Address Street 2" v-model="form.address_street_2"
                        disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="city"
                        aria-describedby="helpId" placeholder="City" v-model="form.city" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">State/Province</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="state_province"
                        aria-describedby="helpId" placeholder="State/Province" v-model="form.state_province" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Zip/Postal Code</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="zip_postal_code"
                        aria-describedby="helpId" placeholder="Zip/Postal Code" v-model="form.zip_postal_code" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Country</label>
                    <select class="form-control contactDetailDisabled" name="" id="country" v-model="form.country"
                        disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in country_list" :value="item.country_name">
                            {{ item.country_name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Home Telephone</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="home_telephone"
                        aria-describedby="helpId" placeholder="Home Telephone" v-model="form.home_telephone" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Mobile</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="mobile"
                        aria-describedby="helpId" placeholder="Mobile" v-model="form.mobile" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Work Telephone</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="work_telephone"
                        aria-describedby="helpId" placeholder="Work Telephone" v-model="form.work_telephone" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Work Email</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="work_email"
                        aria-describedby="helpId" placeholder="Work Email" v-model="form.work_email" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Other Email</label>
                    <input type="text" class="form-control contactDetailDisabled" name="" id="other_email"
                        aria-describedby="helpId" placeholder="Other Email" v-model="form.other_email" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" class="btn btn-primary" id="contactdDetailEdit"
                    v-on:click="contactDetailEdit">Edit</button>
                <button type="button" class="btn btn-primary" id="contactdDetailCancel"
                    v-on:click="contactDetailCancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="contactdDetailSubmit"
                    v-on:click="contactDetailSubmit">Submit</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="contactDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Attachments</h2>
            </div>
        </div>
    </div>
    <div class="container" id="app_contact_detail_attachment">
        <div class="row">
            <div class="col-md">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Type</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in attachment">
                            <td scope="row">{{ item.file_name }}</td>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.date_added }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentEdit"
                                    v-on:click="selectAttachment(item)">Edit</button>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentDelete"
                                    v-on:click="deleteAttachment(item.file_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <h2>Edit Attachment</h2>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Current File</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Current File" v-model="selected_attachment.file_name" disabled>
                </div>
            </div>
            <div class="col-md editAttachment" hidden>
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="selected_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Date Added</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Date Added" v-model="selected_attachment.date_added" disabled>
                </div>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelEditAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitEditAttachment">Update</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Upload Attachment</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Select File</label>
                    <input type="file" class="form-control-file" name="" id="" placeholder=""
                        aria-describedby="fileHelpId" v-on:change="convertUploadAttachment($event)">
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="upload_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelUploadAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitUploadAttachment">Upload</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="attachmentContactDetailModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./config.js"></script>
    <script src="./models.js"></script>
    <script src="./contactdetail.js"></script>
    <script src="./app.js"></script>
</body>

</html>