<!doctype html>
<html lang="en">

<head>
    <title>Dependent</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/personaldetail.html">HRM IPNet Desktop Client</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Personal Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactdetail.html">Contact Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/emergencycontact.html">Emergency Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dependent.html">Dependent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/job.html">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Dependent</h2>
            </div>
        </div>
    </div>
    <div class="container" id="app_dependent">
        <div class="row">
            <div class="col-md">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Relationship</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in dependent">
                            <td scope="row">{{ item.name }}</td>
                            <td>{{ item.relationship }}</td>
                            <td>{{ item.gender }}</td>
                            <td>{{ item.date_of_birth }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" id=""
                                    v-on:click="selectEditDependent(item)">Edit</button>
                                <button type="button" class="btn btn-primary btn-sm" id=""
                                    v-on:click="deleteDependent(item.dependent_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row editDependent">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row editDependent">
            <div class="col-md">
                <h2>Edit Dependent</h2>
            </div>
        </div>
        <div class="row editDependent">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Name"
                        v-model="selected_dependent.name">
                </div>
            </div>
            <div class="col-md editDependent">
                <div class="form-group">
                    <label for="">Relationship</label>
                    <select class="form-control" name="" id="relationship" v-model="selected_dependent.relationship">
                            <option disabled>Please select</option>
                            <option v-for="(item, index) in relationship_list" :value="item.relationship_code">{{ item.relationship_name }}
                            </option>
                        </select>
                </div>
            </div>
        </div>
        <div class="row editDependent">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Gender</label>
                    <select class="form-control" name="" id="gender" v-model="selected_dependent.gender">
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in gender_list" :value="item.gender_code">{{ item.gender_name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md editDependent">
                <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Date of Birth" v-model="selected_dependent.date_of_birth">
                </div>
            </div>
        </div>
        <div class="row editDependent">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelEditDependent">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitEditDependent">Update</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Upload Dependent</h2>
            </div>
        </div>
        <div class="row uploadEmergencyContact">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Name"
                        v-model="upload_dependent.name" required>
                </div>
            </div>
            <div class="col-md uploadEmergencyContact">
                <div class="form-group">
                    <label for="">Relationship</label>
                    <select class="form-control" name="" id="relationship" v-model="upload_dependent.relationship">
                            <option disabled>Please select</option>
                            <option v-for="(item, index) in relationship_list" :value="item.relationship_code">{{ item.relationship_name }}
                            </option>
                        </select>
                </div>
            </div>
        </div>
        <div class="row uploadEmergencyContact">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Gender</label>
                    <select class="form-control" name="" id="gender" v-model="upload_dependent.gender">
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in gender_list" :value="item.gender_code">{{ item.gender_name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md uploadEmergencyContact">
                <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Date of Birth" v-model="upload_dependent.date_of_birth">
                </div>
            </div>
        </div>
        <div class="row uploadEmergencyContact">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelUploadDependent">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitUploadDependent">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="dependentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Attachments</h2>
            </div>
        </div>
    </div>
    <div class="container" id="app_dependent_attachment">
        <div class="row">
            <div class="col-md">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Type</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in attachment">
                            <td scope="row">{{ item.file_name }}</td>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.date_added }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentEdit"
                                    v-on:click="selectAttachment(item)">Edit</button>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentDelete"
                                    v-on:click="deleteAttachment(item.file_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row editAttachment">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row editAttachment">
            <div class="col-md">
                <h2>Edit Attachment</h2>
            </div>
        </div>
        <div class="row editAttachment">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Current File</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Current File" v-model="selected_attachment.file_name" disabled>
                </div>
            </div>
            <div class="col-md editAttachment">
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="selected_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row editAttachment">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Date Added</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Date Added" v-model="selected_attachment.date_added" disabled>
                </div>
            </div>
        </div>
        <div class="row editAttachment">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelEditAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitEditAttachment">Update</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Upload Attachment</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Select File</label>
                    <input type="file" class="form-control-file" name="" id="" placeholder=""
                        aria-describedby="fileHelpId" v-on:change="convertUploadAttachment($event)">
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="upload_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelUploadAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitUploadAttachment">Upload</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="attachmentDependentModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Vue 2.6.10 -->
    <script src="./assets/js/vue.js"></script>
    <!-- Axios -->
    <script src="./assets/js/axios.min.js"></script>
    <!-- Custom App -->
    <script src="./assets/js/config.js"></script>
    <script src="./assets/js/models.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/dependent.js"></script>
</body>

</html>