<!doctype html>
<html lang="en">

<head>
    <title>Job</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="./assets/css/all.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/personaldetail.html">HRM IPNet Desktop Client</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Personal Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactdetail.html">Contact Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/emergencycontact.html">Emergency Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dependent.html">Dependent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/job.html">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Job</h2>
            </div>
        </div>

    </div>
    <div class="container" id="app_job">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Job Title</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Job Title" v-model="form.job_title" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Joined Date</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Joined Date" v-model="form.joined_date" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Department</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Department" v-model="form.department" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Location</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Location" v-model="form.location" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Attendance Type</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Attendance Type" v-model="form.attendance_type" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Resign Date</label>
                    <input type="text" class="form-control jobDisabled" name="" id="" aria-describedby="helpId"
                        placeholder="Resign Date" v-model="form.resign_date" disabled>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="jobModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Vue 2.6.10 -->
    <script src="./assets/js/vue.js"></script>
    <!-- Axios -->
    <script src="./assets/js/axios.min.js"></script>
    <!-- aes-js -->
    <!-- <script src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script> -->
    <script src="./assets/js/aesjs.js"></script>
    <script src="./assets/js/aesb64.js"></script>
    <!-- Custom App -->
    <script src="./assets/js/config.js"></script>
    <script src="./assets/js/models.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/job.js"></script>
</body>

</html>