<!doctype html>
<html lang="en">

<head>
    <title>Personal Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/personaldetail.html">HRM IPNet Desktop Client</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personaldetail.html">Personal Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactdetail.html">Contact Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/emergencycontact.html">Emergency Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dependent.html">Dependent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/job.html">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Personal Detail</h2>
            </div>
        </div>

    </div>
    <div class="container" id="app_personal_detail">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="first_name"
                        aria-describedby="helpId" placeholder="First Name" v-model="form.first_name" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Middle Name</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="middle_name"
                        aria-describedby="helpId" placeholder="Middle Name" v-model="form.middle_name" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="last_name"
                        aria-describedby="helpId" placeholder="Last Name" v-model="form.last_name" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Employee ID</label>
                    <input type="text" class="form-control" name="" id="employee_id" aria-describedby="helpId"
                        placeholder="Employee ID" v-model="form.employee_id" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">No KTP</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="no_ktp"
                        aria-describedby="helpId" placeholder="No KTP" v-model="form.no_ktp" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Driver’s License Number</label>
                    <input type="text" class="form-control" name="" id="drivers_license_number"
                        aria-describedby="helpId" placeholder="Driver’s License Number" v-model="form.drivers_license_number"
                        disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">License Expiry Date</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="license_expiry_date"
                        aria-describedby="helpId" placeholder="License Expiry Date" v-model="form.license_expiry_date"
                        disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">No BPJS Kesehatan</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="no_bpjs_kesehatan"
                        aria-describedby="helpId" placeholder="No BPJS Kesehatan" v-model="form.no_bpjs_kesehatan" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">No NPWP</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="no_npwp"
                        aria-describedby="helpId" placeholder="No NPWP" v-model="form.no_npwp" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">No BPJS Ketenagakerjaan</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="no_bpjs_ketenagakerjaan"
                        aria-describedby="helpId" placeholder="No BPJS Ketenagakerjaan"
                        v-model="form.no_bpjs_ketenagakerjaan" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Work Shift</label>
                    <select class="form-control personalDetailDisabled" name="" id="work_shift"
                        v-model="form.work_shift" disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in work_shift" :value="item.workshift_code">
                            {{ item.workshift_name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Gender</label>
                    <select class="form-control personalDetailDisabled" name="" id="gender" v-model="form.gender"
                        disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in gender" :value="item.gender_code">{{ item.gender_name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Marital Status</label>
                    <select class="form-control personalDetailDisabled" name="" id="marital_status"
                        v-model="form.marital_status" disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in marital_status" :value="item.marital_status_name">
                            {{ item.marital_status_name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Nationality</label>
                    <select class="form-control personalDetailDisabled" name="" id="nationality"
                        v-model="form.nationality" disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in nationality" :value="item.nation_code">{{ item.nation_name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="text" class="form-control" name="" id="date_of_birth" aria-describedby="helpId"
                        placeholder="Date of Birth" v-model="form.date_of_birth" disabled>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Religion</label>
                    <select class="form-control personalDetailDisabled" name="" id="religion"
                        v-model="form.religion" disabled>
                        <option disabled>Please select</option>
                        <option v-for="(item, index) in religion" :value="item.religion_code">{{ item.religion_name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Place of Birth</label>
                    <input type="text" class="form-control personalDetailDisabled" name="" id="place_of_birth"
                        aria-describedby="helpId" placeholder="Place of Birth" v-model="form.place_of_birth" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" class="btn btn-primary" id="personalDetailEdit" v-on:click="edit">Edit</button>
                <button type="button" class="btn btn-primary" id="personalDetailCancel" v-on:click="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="personalDetailSubmit" v-on:click="submit">Submit</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="personalDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Attachments</h2>
            </div>
        </div>
    </div>
    <div class="container" id="app_personal_detail_attachment">
        <div class="row">
            <div class="col-md">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Type</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in attachment">
                            <td scope="row">{{ item.file_name }}</td>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.date_added }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentEdit"
                                    v-on:click="selectAttachment(item)">Edit</button>
                                <button type="button" class="btn btn-primary btn-sm" id="attachmentDelete"
                                    v-on:click="deleteAttachment(item.file_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <h2>Edit Attachment</h2>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Current File</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Current File" v-model="selected_attachment.file_name" disabled>
                </div>
            </div>
            <div class="col-md editAttachment" hidden>
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="selected_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Date Added</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Date Added" v-model="selected_attachment.date_added" disabled>
                </div>
            </div>
        </div>
        <div class="row editAttachment" hidden>
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelEditAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitEditAttachment">Update</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Upload Attachment</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="">Select File</label>
                    <input type="file" class="form-control-file" name="" id="" placeholder=""
                        aria-describedby="fileHelpId" v-on:change="convertUploadAttachment($event)">
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="">Comment</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Comment" v-model="upload_attachment.comment">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" class="btn btn-primary" v-on:click="cancelUploadAttachment">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submitUploadAttachment">Upload</button>
            </div>
        </div>
        <div class="modal fade" id="attachmentPersonalDetailModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-message">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./config.js"></script>
    <script src="./models.js"></script>
    <script src="./personaldetail.js"></script>
    <script src="./app.js"></script>
</body>

</html>